:root {
    --cor-escura: #3399ff;
	--cor-clara: #eef;
}

body { background-color: #F3F3F3;}

ul li { font-weight: bold;}

* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: sans-serif; }

/* Header */
header {
	display: flex;
	padding: 20px;
	align-items: center; gap: 20px;
	border-bottom: 2px solid var(--cor-escura);
	padding-bottom: 0;
	}

img { margin-right: .5em;}

.img-header { width: 100px; height: 100px; object-fit: cover; }

#bemVindo {
	color: var(--cor-escura);
	font-weight: bold;
	}

/* Navegação e Lógica do Hamburger */
nav { background: var(--cor-clara); padding: 10px; position: relative; margin-bottom: 2em;}
.menu-checkbox { display: none; } /* Esconde o input */

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid var(--cor-escura);
	border-radius: 10px;
    color: var(--cor-escura);
    font-size: 28px;
    cursor: pointer;
}

.nav-links {
    display: none; /* Escondido por padrão no mobile */
    list-style: none;
    flex-direction: column;
    padding-top: 10px;
}

/* Quando o checkbox é marcado, mostra a lista */
.menu-checkbox:checked ~ .nav-links {
    display: flex;
}

a {
    text-decoration: none;
}

.nav-links li a {
    color: var(--cor-escura);
    padding: 12px;
    display: block;
    font-weight: bold;
}

/* Main e Artigos */
main { display: flex; flex-direction: column; padding: 20px; gap: 20px; }
.art-link { text-decoration: none; color: inherit; }

article { display: flex; gap: 15px; align-items: flex-start; }
.art-img { width: 100px; object-fit: cover; flex-shrink: 0; border-bottom-right-radius: 15px;}

													/* .art-content h3, h1 { margin-bottom: 5px; } 		 Adicionado h1*/
h1, h2, h3, h4, h5, h6 { color: var(--cor-escura); }
h2, h4, h5, h6 { padding-top: 3em; letter-spacing: 0.1em}		/*h1 usado no topo de cada artigo .md, e h3 somente na página principal. */
h5, h6 { font-size: 1.2em; }	/* alguns artigos vieram do WP, e lá foi usado h5, daí igualamos ao h6*/

strong { font-size: 0.9em;}

blockquote { border-left: 2px solid lightgray; color: gray; font-style: italic; margin-left: 1em; padding-left: 1em;}

th { background-color: lightyellow; }

/* tab - cor de fundo apenas nas linhas pares */
tr:nth-child(even) { background-color: snow; }

/* tab - cor de fundo nas linhas ímpares */
tr:nth-child(odd) { background-color: lightgray; }



pre {
	border: 1px solid #ccc; 
	border-radius: 0.33em;  
	padding: 0.5em; /* Pequena margem interna */ 
	background: white; /* Fundo leve para contraste */ 
	overflow: auto; /* Evita quebra de layout; barra de rolagem */
}
	
footer { text-align: center; height: 2em; padding-top: 0.5em; color: var(--cor-clara); background-color: var(--cor-escura); }

/* Media Queries para Tablet e Notebook */
@media (min-width: 768px) {
    .menu-toggle { display: none; } /* Esconde o botão hamburger */
    
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .art-link {
        flex: 0 1 calc(50% - 10px); /* Dois artigos por linha */
    }
}
