---
layout: default
title: Joe S - Início
---

{% for item in site.data.artigo %}
    {% comment %} 
       Pega o nome do arquivo do href (remove o .html)
    {% endcomment %}
    {% assign slug_do_json = item.href | replace: ".html", "" %}
    
    {% comment %} 
       Busca o post onde o arquivo físico contém esse nome
    {% endcomment %}
    {% assign post_encontrado = site.posts | find_exp: "p", "p.path contains slug_do_json" %}

    <a href="{{ item.href }}">
        <article>
            <img src="{{ item.src }}" alt="Artigo" class="art-img">
            <div class="art-content">
                <h3>{{ item.h3 }}</h3>
                <p>{{ item.p }}</p>
                <p class="item-date">
                    {% if post_encontrado %}
                        {{ post_encontrado.date | date: "%d/%m/%Y" }}
                    {% else %}
                        Data Indisponível
                    {% endif %}
                </p>
            </div>
        </article>
    </a>
{% endfor %}

{% include mkt2.html %}

{% for item in site.data.artigo %}
    <a href="{{ item.href }}">
        <article>
            <img src="{{ item.src }}" alt="Artigo" class="art-img">
            <div class="art-content">
                <h3>{{ item.h3 }}</h3>
                <p>{{ item.p }}</p>
            </div>
        </article>
    </a>
{% endfor %}
