<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe S na Rede de Programadores</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <img src="image/joe_s.png" alt="Logo" class="img-header">
        <div class="header-desc">
            <p id="menuTop"><a href="contato.html"><span class="unicode">✆</span> contato</a> <a href="quem.html"><span class="unicode">⌷</span> sobre</a></p>
            <p id="bemVindo">Joe S no GitHub, um <em>blog</em> com tutoriais, exercícios <em>vanilla</em> JS...</p>
        </div>
    </header>

    <nav>
        <ul class="nav-links">
            <li><a href="index.html"><span class="unicode" id="unicodeMaior">⌂</span> <span class="nav-text">home</span></a></li>
            <li><a href="smarketing.html"><span class="unicode">☺</span> <span class="nav-text">smarketing</span></a></li>
            <li><a href="conexoes.html"><span class="unicode">Ꮬ</span> <span class="nav-text">conexões</span></a></li>
            <li><a href="servico.html"><span class="unicode">$</span> <span class="nav-text">serviços</span></a></li>
        </ul>
    </nav>

    <main> {{ content }}
        {% include mkt.html %}
    </main>

    {% include footer.html %}

</body>
</html>
