<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Profissional</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- novo -->
    <header>
        <img src="image/joe_s.png" alt="Logo" class="img-header">
        <div class="header-desc">
            <p id="bemVindo">Blog de Joe S no GitHub, uma área de tutoriais, exercícios <em>vanilla</em> JS etc.</p>
        </div>
    </header>

    <nav>
        <ul class="nav-links">
            <li><a href="index.html"><span class="unicode">⌂</span> <span class="nav-text">home</span></a></li>
            <li><a href="servico.html"><span class="unicode">$</span> <span class="nav-text">serviços</span></a></li>
            <li><a href="quem.html"><span class="unicode">⌷</span> <span class="nav-text">portfólio</span></a></li>
            <li><a href="quem.html"><span class="unicode">ᴥ</span> <span class="nav-text">sobre</span></a></li>
            <li><a href="contato.html"><span class="unicode">✆</span> <span class="nav-text">contato</span></a></li>
            <li><a href="smarketing.html"><span class="unicode">☺</span> <span class="nav-text">smarketing</span></a></li>
            <li><a href="conexoes.html"><span class="unicode">Ꮬ</span> <span class="nav-text">conexões</span></a></li>
        </ul>
    </nav>

    <main> {{ content }}
        {% include mkt.html %}
    </main>

    {% include footer.html %}

</body>
</html>
